<nav
  flex
  layout="row"
  ng-controller="NavbarCtrl as navbar">
  <div class="md-toolbar-tools">
    <md-button
      ng-repeat="area in navbar.areas"
      ng-href="{{area.href}}"
      aria-label="{{area.title}}">{{area.title}}</md-button>
  </div>
<!--
  <div flex="initial">
    <a class="navbar-brand" href="#/index">
      <span class="glyphicon glyphicon-home"></span>
      &nbsp;Docs
    </a>
  </div>
  <div flex="grow"
    class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
    <ul class="nav navbar-nav">
      <li ng-repeat="area in navbar.areas" ng-class="{active:docs.currentArea.id === area.id}">
        <a ng-href="#/{{area.href}}" >{{area.name}}</a>
      </li>
    </ul>
  </div>
-->
</nav>
